/* line 1, ../sass/style_v.scss */
div.form_input {
  margin-left: 10px;
  border: none;
}
/* line 3, ../sass/style_v.scss */
div.form_input .im_data {
  width: 20%;
  text-align: right;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
}
/* line 12, ../sass/style_v.scss */
div.form_input input, div.form_input textarea, div.form_input select {
  background-color: #FAFAFA;
  margin-bottom: 18px;
}
/* line 17, ../sass/style_v.scss */
div.form_input .adres {
  vertical-align: top;
  height: 5.8em;
}
/* line 24, ../sass/style_v.scss */
div.form_input h1 {
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}
/* line 29, ../sass/style_v.scss */
div.form_input .input_chk {
  width: auto;
  padding: 5px;
}

/* line 32, ../sass/style_v.scss */
input, textarea {
  border: none;
  border-bottom: 0px solid;
  border-top: 0px;
  width: 100%;
  margin-bottom: 2px;
  font-weight: bold;
  height: auto;
}

/* line 40, ../sass/style_v.scss */
textarea {
  height: 8.8em;
}

/* line 45, ../sass/style_v.scss */
table.input_prihil {
  border: 0px;
  width: 97%;
}
/* line 50, ../sass/style_v.scss */
table.input_prihil td, table.input_prihil tr {
  border: 0px;
  border-collapse: collapse;
}
/* line 54, ../sass/style_v.scss */
table.input_prihil .im_data {
  vertical-align: center;
}
/* line 59, ../sass/style_v.scss */
table.input_prihil .val_data {
  vertical-align: bottom;
  width: 30%;
}

/* line 66, ../sass/style_v.scss */
.check_b {
  text-align: right;
}

/* line 68, ../sass/style_v.scss */
.check_b label {
  display: block;
  margin-right: 15px;
}

/* line 72, ../sass/style_v.scss */
.check_b1 {
  text-align: left;
}

/* line 74, ../sass/style_v.scss */
.check_b1 label {
  display: block;
  margin-left: 5px;
}

/* line 78, ../sass/style_v.scss */
.btn1 {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 85, ../sass/style_v.scss */
#btn_prihil {
  margin-left: 700px;
  margin-bottom: 20px;
}

/* line 91, ../sass/style_v.scss */
input.btn1 {
  width: 75%;
}

/* line 92, ../sass/style_v.scss */
.n_dil {
  margin-bottom: 15px;
}

/* line 94, ../sass/style_v.scss */
.change_prihil, .view_prihil {
  margin-top: -2px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: underline;
}

/* line 102, ../sass/style_v.scss */
.various {
  margin-left: 15px;
}

/* line 109, ../sass/style_v.scss */
.val_input {
  width: 70%;
}

/* line 114, ../sass/style_v.scss */
ul.new_input {
  list-style: none !important;
  float: none;
}
/* line 118, ../sass/style_v.scss */
ul.new_input li.im_data {
  float: left;
}
/* line 122, ../sass/style_v.scss */
ul.new_input li.val_data {
  float: none;
}
/* line 130, ../sass/style_v.scss */
ul.new_input .btn1 {
  margin-left: 65%;
  width: 15%;
}

/* line 144, ../sass/style_v.scss */
.response {
  margin-top: 10px;
  color: red;
}

/* line 149, ../sass/style_v.scss */
.prihil_nyk {
  float: none;
  /* height: 20px;*/
}
/* line 152, ../sass/style_v.scss */
.prihil_nyk p {
  line-height: 1;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
/* line 159, ../sass/style_v.scss */
.prihil_nyk a {
  line-height: 1;
}
